#speed-indicator {
  position: fixed;
  top: 10px;
  left: 10px; /* Đổi từ right sang left */
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 9999;
}